@media (max-width: 1250px){
    .wrap{
        width: 90%;
        margin: 0px auto;
    }

    #banner h1{
        font-size: 35px;
        text-align: center;
        margin: 33px auto;
        width: 100%;
    }

    .card{
        width: 17%;
        margin: 1.4%;
    }

    .card p{
        display: block;
        width: 90%;
        margin: 0px auto;
        text-align: center;
    }

    #articles{
        width: 65%;
    }

    #articles article{
        width: 97%;
    }

    #footer .wrap > div{
        width: 24%;
    }

    #footer #browsers img{
        width: 14%;
    }

    #footer h5{
        font-size: 30px;
    }
}

@media (max-width: 1080px){
    .card .category{
        font-size: 17px;  
    }

    .card .description{
        font-size: 14px;  
    }

    #articles {
        width: 61%;
    }

}

@media (max-width: 970px){
    #articles{
        width: 59%; 
    }

    #footer .wrap > div{
        width: 26%;
        margin: 20px;
    }

    #footer h5{
        font-size: 22px;
    }


}

@media (max-width: 925px){
    #articles{
        width: 65%; 
    }

    #lateral{
        width: 25%;

    }

    #lateral input[type="text"]{
        width: 78%;
    }

    .aside-box{
        width: 95%;
        height: auto;
        min-height: 140px;
        padding-bottom: 10px;
    }

    #login a{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #login input[type="email"],
    #login input[type="password"]{
        width: 65%;
    }

    #login #user,
    #login #password{
        margin-left: 24%;
    }

    #login input[type="submit"],
    #login input[type="button"],
    #login input[type="reset"],
    #login button{
        margin-bottom: 0px;
    }

    #login input[type="reset"]{
        display: none;
    }
}

@media (max-width: 899px){
    #lateral h3{
        font-size: 20px;
    }

    #menu ul li{
        font-size: 20px;
    }

    #menu {
        margin-right: 10%;
    }

}

@media (max-width: 799px){
    #banner h3{
        font-size: 29px
    }


    .card{
        height: auto;

    }

    .card .category{
        font-size: 15px;
        margin-top: -10px;
    }

    .card .icon{
        font-size: 47px;
        margin-top: -20px;
    }
    
    .card:hover .icon{
        font-size: 47px;
        margin-top: -20px;


    }

    .card .description{
        display: none;
    }

    #footer img{
        margin-bottom: 15px;
        max-width: 100%;
    }

    #menu {
        margin-right: 7%;
    }
}

@media (max-width: 724px){
    #header{
        width: 100%;
        height: 120px;
        padding-top: 10px;
    }

    #menu {
        clear: both;
        float: none;
        width: 440px;
        margin: 0px auto;
    }

    #logo {
        float: none;
        width: 200px;
        margin: 0px auto;
    }

    #logo h3 {
        margin-right: 61px;
    }

    #lateral input[type="text"]{
        width: 70%;
    }        
}

@media (max-width: 660px) {
    #cards{
        float: left;
    }

    #lateral{
        float: none;
        padding-top: 177px;
        margin-top: 20px;
        width: 100%;
        margin: 0px auto;
        min-height: auto;
    }
    
    #articles{
        float: none;
        width: 100%;
        margin: 0px auto;
    }

    #banner h1{
        font-size: 25px;
    }

    #lateral input[type="text"]{
        width: 92%;
    }

    #cards {
        margin-left: 21px;
    }

    #login input[type="email"], #login input[type="password"] {
        width: 88%;
    }

    #login #user, #login #password {
        margin-left: 5%;
    }

    #footer {
        height: auto;
    }

    #footer .wrap > div{
        width: 100%;
        margin: 0px auto;
        margin-top: 20px;
    }

    #footer h5{
        font-size: 25px;
    }

    #footer {
        padding-bottom: 40px;
    }

    #footer ul li a{
        font-size: 23px;
    }

    #articles h2 {
        height: 65px;
        line-height: 71px;
        font-size: 32px;
    }
}

@media (max-width: 605px) {
    #cards {
        margin-left: -6px;
    }
}

@media (max-width: 574px) {
    .card:first-child {
        margin-left: 18px;
    }

    .card {
        width: 16%;
        margin: 1.4%;
    }
}

@media (max-width: 475px) {
    /*
    #logo{
        float: left;
    }

    #header{
        width: 100%;
        height: 275px;
        padding-top: 10px;
    }

    #menu {
        clear: both;
        float: none;
        width: 100%;
        margin: 0px auto;
    }

    #menu ul li{
        width: 100%;
        line-height: 52px;
    }

    #menu ul li a{
        width: 100%;
        line-height: 52px;
    }

    #menu ul li a:hover{
        color: #37bcf9;
        transform: scale(1, 1);
    }

    */
    #banner h1{
        font-size: 31px;
    }

    #banner{
        height: 85%;
    }

    .card .icon{
        font-size: 35px;
        height: 117px;
        line-height: 125px;
    }

    .card:hover .icon{
        font-size: 35px;
    }

    .card .category{
        font-size: 13px;
    }

    #lateral{
        padding-top: 161px;
    }

    #blog a{
        font-size: 35px;
    }

    #blog {
        line-height: 42px;
    }

    #menu ul li a{
        margin-left: 5px;
    }

    #lateral input[type="button"], #lateral input[type="submit"] {
        font-size: 15px;
        padding-left: 5px;
    }

    #lateral input[type="text"]{
        padding-left: 0px;
    }


}

@media (max-width: 430px){
    
    #menu ul li{
        font-size: 19px;
        display: inline-block;
        margin: 0px 10px 0px 20px;
        letter-spacing: 1px;
        line-height: 70px;
    }

}